<ng-container *ngIf="tasks.length > 0; else noTasks">
  <div
    cdkDropList
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="drop($event)"
    class="space-y-3"
  >
    <div *ngFor="let task of tasks | async" cdkDrag>
      <app-task-item [task]="task" (toggle)="toggle.emit(task.id)" />
    </div>
  </div>
</ng-container>

<ng-template #noTasks>
  <div class="text-center text-gray-500 bg-white border border-gray-200 rounded-xl py-10 shadow">
    <p class="text-xl font-semibold"> No tasks found</p>
    <p class="text-sm mt-2 text-gray-400">Try changing your filters or adding a new task</p>
  </div>
</ng-template>
